export CANDIG_URL=http://docker.localhost:5080
export CANDIG_CLIENT_ID=local_candig
export CANDIG_CLIENT_SECRET=93e16763-4cce-4b2c-8e84-f42dfe482455
export CANDIG_SITE_ADMIN_USER=user2
export CANDIG_SITE_ADMIN_PASSWORD=axThFXkLM9lXdGyOjJvgGA=
export KEYCLOAK_PUBLIC_URL=http://docker.localhost:8080
export VAULT_URL=http://docker.localhost:5080/vault