export CANDIG_URL=http://docker.localhost:5080
export CANDIG_CLIENT_ID=local_candig
export CANDIG_CLIENT_SECRET=<secret>
export CANDIG_SITE_ADMIN_USER=user2
export CANDIG_SITE_ADMIN_PASSWORD=<password>
export KEYCLOAK_PUBLIC_URL=http://docker.localhost:8080
export VAULT_URL=http://docker.localhost:5080/vault
export OPA_URL=http://docker.localhost:5080/policy
export OPA_SITE_ADMIN_KEY=site_admin
export VAULT_S3_TOKEN=<token>
export OPA_SECRET=<secret>