PyYAML==6.0.1
requests==2.26.0
urllib3==1.26.7
minio==7.1.7
jsoncomparison~=1.1.0
candigv2-authx@git+https://github.com/CanDIG/candigv2-authx.git@new-auth-model
awscli==1.29.5
python-dotenv==0.14.0
Flask==2.2.2
connexion==2.14.1
uwsgi==2.0.21
