PyYAML==6.0.1
requests==2.31.0
requests-mock>=1.11.0
urllib3==1.26.18
minio==7.1.7
jsoncomparison~=1.1.0
candigv2-authx@git+https://github.com/CanDIG/candigv2-authx.git@v2.0.0
awscli==1.29.5
python-dotenv==0.14.0
dateparser~=1.2.0
pandas~=2.1.4
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
clinical_etl@git+https://github.com/CanDIG/clinical_ETL_code.git@v1.2.1
