-r requirements.txt
Flask==3.1.0
Flask-Cors==5.0.0
connexion==3.1.0
connexion[swagger-ui]
connexion[flask]
gunicorn>=23.0.0
uvicorn[standard]==0.30.6
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
